packages/
BassVst/Win32/
BassVst/x64/
Core/bin
Core/obj/
FNATest/bin/
FNATest/obj/
Holofunk/Holofunk/bin
Holofunk/Holofunk/obj
HolofunkBass/bin/
HolofunkBass/obj/
Holofunkinect/bin/
Holofunkinect/obj/
SceneGraph/bin/
SceneGraph/obj/
StateMachine/bin/
StateMachine/obj/
Test/bin/
Test/obj/
VSUnitTests/bin/
VSUnitTests/obj/
XNA-Sample/Content1/WindowsGame1/WindowsGame1/bin/
XNA-Sample/Content1/WindowsGame1/WindowsGame1/obj/
XNA-Sample/Content1/WindowsGame1/WindowsGame1Content/bin/
XNA-Sample/Content1/WindowsGame1/WindowsGame1Content/obj/
Test/obj/
*.opensdf
*.sdf
*.opendb
*.db
*.suo
.vs/