packages/
BassVst/Win32/
Core/bin
Core/obj/
FNATest/bin/
FNATest/obj/
Holofunk/Holofunk/bin
Holofunk/Holofunk/obj
HolofunkBass/bin/
HolofunkBass/obj/
Holofunkinect/bin/
Holofunkinect/obj/
SceneGraph/bin/
SceneGraph/obj/
StateMachine/bin/
StateMachine/obj/
Test/bin/
Test/obj/
VSUnitTests/bin/
VSUnitTests/obj/
Test/obj/
*.opensdf
*.sdf
*.opendb
*.db