BassVst/Release/
BassVst/Win32/
BassVst/x64/
Core/bin/
Core/obj/
Holofunk/Holofunk/bin/x64/Debug/
Holofunk/Holofunk/bin/x64/Release/
Holofunk/Holofunk/obj/Debug/TextureContent/
Holofunk/Holofunk/obj/Release/TextureContent/
Holofunk/Holofunk/bin/
Holofunk/Holofunk/obj/
HolofunkBass/bin/
HolofunkBass/obj/
Holofunkinect/bin/
Holofunkinect/obj/
SceneGraph/bin/
SceneGraph/obj/
StateMachine/bin/
StateMachine/obj/
Test/bin/
Test/obj/
VSUnitTests/bin/
VSUnitTests/obj/
packages/
*.opensdf
*.sdf
*.db
*.suo